@font-face {
    font-family: "gilroy-regular";
    src: url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.woff2") format("woff2");
}
@font-face {
    font-family: "Gilroy-bold";
    src: url("../fonts/Gilroy-bold.woff") format("woff"), url("../fonts/Gilroy-bold.woff2") format("woff2");
}